<!DOCTYPE html>
<html lang="en-SG">
  <head>
    <title>PeerView</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/components/index_note_view.css" />
    {% for href in stylesheets %}
    <link rel="stylesheet" href="{{ href }}" />
    {% endfor %}
  </head>
  <body>
    <div id="topbar">
      <button id="menu">
        <img src="menu.svg" alt="Menu" />
      </button>
      <button id="login">Login</button>
    </div>
    <div id="containing">
      {% include template %}
    </div>
  </body>
</html>
