{% extends "base.njk" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/canvas.css" />
{% endblock %}

{% block content %}
<div id="canvas" class="content">
  <h1>Canvas preview</h1>
  <p>Click on any pixel to see who drew it.</p>
  <p id="drawn-by">This pixel was drawn by ...</p>
  <div id="grid">
    {% for pixel in range(2500) %}
    {% if pixels[pixel].username and pixels[pixel].color %}
    <div class="pixel" style="background-color: {{ pixels[pixel].color }}" data-user="{{ pixels[pixel].username }}"></div>
    {% else %}
    <div class="pixel"></div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  const drawnBy = document.querySelector("#drawn-by");
  document.querySelectorAll(".pixel").forEach(pixel => {
    pixel.addEventListener("click", e => {
      const painter = e.target.getAttribute("data-user");
      drawnBy.textContent = painter === null ? "Nobody drew on this pixel before" : `This pixel was drawn by ${painter}`;
    });
  })
</script>
{% endblock %}
