<div id="index">
  <div class="hero">
    <img class="banner" src="logo.svg" alt="Logo" />
    <h1 class="slogan">RdeV's own platform for sharing notes.</h1>
  </div>
  <div class="preview">
    <h1>Top notes</h1>
    {% include "components/index_note_view.njk" %}
  </div>
  <div class="points content">
    <h1>Customizable</h1>
    <p>Select topics to focus on, create reading lists, PeerView will remember them all.</p>
    <h1>Powerful</h1>
    <p>Support for over 10 different file formats and 10 sites; navigate them all with the powerful sorting system.</p>
    <h1>Fun</h1>
    <p>Gather points to spend on our pixel canvas, draw as you please.</p>
    <h1>Easy</h1>
    <p>Simply login with your ICON email to get started.</p>
  </div>
</div>
