<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PeerView</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>PeerView testing ground</h1>
    <p>
      This page serves as a simple test site to test the functionality of server-side code.
      The message provided below will be randomly chosen by the server every time the site is visited.
    </p>
    <p>Server says: {{ message }}</p>
    <p>Click to return: <a href="https://peerview.x10.mx">PeerView</a></p>
  </body>
</html>
